ATTRS{idVendor}==&amp;quot;0451&amp;quot;, ATTRS{idProduct}==&amp;quot;f432&amp;quot;, MODE=&amp;quot;0660&amp;quot;, GROUP=&amp;quot;plugdev&amp;quot;
